!!! 5
%html
  %head
    = bootstrap_assets
    %script(src="/jquery.autocomplete.js")
    :css
      i.example {
        text-decoration: underline;
      }
      small.hint {
        float: right;
        font-size: small;
      }
      dl { margin-top: 0; }
      .autocomplete-suggestions {
        background: #fff;
        border: 1px solid #000;
      }
      .autocomplete-selected {
        background: #ACF;
      }
  %body
    %a(href="http://github.com/k3rni/mctechtree")
      %img(style="position:absolute; top:0; right:0; border:0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub")
    - container :fixed do
      .row
        .span4
          %h1 MCTechTree
        .span8.hidden-phone
          %h3 includes #{count_all_recipes} recipes from
          .row
            - recipe_counters.in_groups_of((recipe_counters.size / 2).ceil).each do |grp|
              .span4
                %dl
                  - grp.compact.each do |cluster, count, subcount|
                    %dt.span2= I18n.t "clusters.#{cluster}"
                    %dd.span1 
                      = count
                      - if subcount > 0
                        %span{title: multigroup_text(submodules(cluster))}(style="text-decoration: underline") +#{subcount}
      = yield
